services:
  postgresql:
    container_name: postgresql
    image: postgres:17.5-bullseye
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ogd3
    networks:
      - ogd3-network
    volumes:
      - ./database/postgresql/ogd3:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ogd3"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    profiles:
      - production
      - development

  valkey:
    container_name: valkey
    image: valkey/valkey:8.1.1-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./configs/valkey.conf:/configs/valkey.conf
      - ./database/valkey:/data
    command: valkey-server /configs/valkey.conf
    networks:
      - ogd3-network
    profiles:
      - production
      - development

  app:
    container_name: app
    build:
      context: ./src/app
    working_dir: /src/app
    volumes:
      - ./src/app:/src/app
      - ./configs/.env.app:/src/configs/.env
    environment:
      - ENV_FILE=/src/configs/.env
      - PYTHONPATH=/src
    ports:
      - "8000:8000"
    depends_on:
      postgresql:
        condition: service_started
      valkey:
        condition: service_started
    networks:
      - ogd3-network
    restart: unless-stopped
    profiles:
      - production
      - development

  # bot:
  #   container_name: bot
  #   build:
  #     context: ./src/bot
  #   working_dir: /src/bot
  #   command: sh -c "python main.py"
  #   volumes:
  #     - ./src/bot:/src/bot
  #     - ./sounds:/src/sounds
  #     - ./configs/.env.bot:/src/configs/.env
  #   environment:
  #     - ENV_FILE=/src/configs/.env
  #     - PYTHONPATH=/src
  #   networks:
  #     - ogd3-network
  #   restart: always
  #   profiles:
  #     - production
  #     - development

  ui:
    container_name: ui
    build:
      context: ./ui
    working_dir: /ui
    environment:
      NODE_ENV: development
    ports:
      - "5173:5173"
    depends_on:
      app: 
        condition: service_started
    networks:
      - ogd3-network
    profiles:
      - production


networks:
  ogd3-network:
    driver: bridge