# Python cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Editor & OS files
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests: exclude tests from production image
../../../tests

# Local config & secrets
.env
.env.*
*.local
*.log

# Docker / Compose
Dockerfile
docker-compose.yml

# Data folders (if any)
../../../data/